.header {
  margin: 5px auto;
  font-size: 1.5em;
  text-align: center;
}

.text {
  margin: 5px auto;
  font-size: 0.9em;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    font-size: 4em;
    margin: 5px auto 10%;
  }
}
