.entry {
  border-bottom: 2px dotted grey;
  margin: 8px 2px;
}

.writer {
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.pink {
  color: #eb93de;
}

.red {
  color: #f16a6a;
}

.green {
  color: #91ed82;
}

.blue {
  color: #77e5f9;
}
.orange {
  color: #f9c34e;
}
