.entry {
  border-bottom: 2px dotted #d0cece;
  margin: 8px 2px;
  font-size: 0.8em;
}

.writer {
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.pink {
  color: #eb93de;
}

.red {
  color: #f16a6a;
}

.green {
  color: #91ed82;
}

.blue {
  color: #77e5f9;
}
.orange {
  color: #f9c34e;
}

@media (min-width: 800px) {
  .entry {
    font-size: 0.7em;
  }

  .writer {
    font-size: 0.6em;
  }
}
