.form-wrapper {
  // border: black solid 2px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px auto;
  justify-content: space-around;
  margin: 10px auto;
}
.main-wrapper {
  border-radius: 20px;
  -webkit-box-shadow: 2px 12px 20px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 2px 12px 20px 0px rgba(161, 161, 161, 1);
  box-shadow: 2px 12px 20px 0px rgba(161, 161, 161, 1);
}

.label {
  font-size: 0.6em;
}

.form-child {
  font-size: 0.5em;
  width: 80%;
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 10px;
}

.input {
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  outline: none;
  border: solid black 1px;
  border-bottom: solid black 3px;
}

.link-note {
  text-align: center;
  font-size: 0.5em;
}

.highlight {
  color: #2e90d6;
}

.button {
  width: 40%;
  font-size: 0.5em;
  padding: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #2e90d6;
  border: none;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 1);
  box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 1);
}

.button:active {
  background-color: #eb93de;
  box-shadow: 0 1px #acacac;
  transform: translateY(1px);
}

@media (min-width: 800px) {
  .input {
    padding: 2px 1px;
    margin-bottom: 7px;
  }
  .label {
    font-size: 0.5em;
  }
  .form-wrapper {
    width: 95%;
    margin: 5px auto;
  }

  .main-wrapper {
    -webkit-box-shadow: 2px 5px 10px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 2px 5px 10px 0px rgba(161, 161, 161, 1);
    box-shadow: 2px 5px 10px 0px rgba(161, 161, 161, 1);
  }
}
