@import "../../scss-themes/colors.scss";
@import "../../scss-themes/sizes.scss";

.alert {
  position: sticky;
  width: 100vw;
  padding: 2px 0px;
  overflow-x: hidden;
  font-size: $mediumFont;
  text-align: center;
}

.danger {
  background: $soft-red;
}

.event {
  background: $soft-green;
}

@media (min-width: 768px) {
  .alert {
    font-size: $smallestFont;
  }
}
