@import "../../scss-themes/colors.scss";
@import "../../scss-themes/sizes.scss";

.alert {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 2px 0px;
  overflow-x: hidden;
  font-size: $mediumFont;
  text-align: center;
}

.danger {
  background: $soft-red;
}

.event {
  opacity: 0.7;
  border: $soft-green 2px solid;
  background: $light-soft-green;
}

@media (min-width: 768px) {
  .alert {
    font-size: $smallestFont;
  }
}
