@import "../../scss-themes/colors.scss";
@import "../../scss-themes/sizes.scss";

.alert {
  position: sticky;
  background: $soft-red;
  width: 100vw;
  padding: 2px 0px;
  overflow-x: hidden;
  font-size: $mediumFont;
  text-align: center;
}
@media (min-width: 800px) {
  .alert {
    font-size: $smallestFont;
  }
}
