$scrollBGColor: white;

#story {
  height: 70vh;
  width: calc(75%);
  margin-left: 3%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#story::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $scrollBGColor;
}

#story::-webkit-scrollbar
{
	width: 12px;
	background-color: $scrollBGColor;
}

#story::-webkit-scrollbar-thumb {
  border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
   background-color: #0489B1;
}
